@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<link rel="stylesheet" href="/css/login.css">

<div class="login-container">
    <div class="logo">
        <p>CodeShare</p>
    </div>
    <div class="login-box">
        <h1>Добро пожаловать!</h1>
        <p>Введите ваши данные для входа</p>
        <form>
            <div class="input-group">
                <label for="email">Почта</label>
                <input type="email" id="email" placeholder="example@email.com" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Введите пароль" required>
            </div>
            <a href="Reset-password" class="forgot-password">Забыли пароль?</a>
            <div class="button-group">
                <button type="button" @onclick="Reg" class="register-button">Регистрация</button>
                <button type="submit" @onclick="Log" class="login-button">Войти</button>
            </div>
        </form>
    </div>
</div>

@code
{

    public void Reg()
    {
        NavigationManager.NavigateTo("/Registration");
    }



    public async void Log()

    {   // Получение состояния аутентификации
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            if (user.IsInRole("Админ"))
            {
                NavigationManager.NavigateTo("/Admin");
            }
            else if (user.IsInRole("Пользователь"))
            {
                NavigationManager.NavigateTo("/User");
            }
            else
            {
                NavigationManager.NavigateTo("/Unauthorized");
            }
        }
        else
        {
            Console.WriteLine("Пользователь не аутентифицирован.");
        }

        NavigationManager.NavigateTo("/Main");
    }
}