@page "/Reset-password"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CodeShare - Восстановление доступа</title>
<link rel="stylesheet" href="/css/reset-password.css">

<div class="container">
    <div class="logo">
        <p>CodeShare</p>
    </div>
    <div class="form-box">
        <h1>Восстановление доступа</h1>
        <p>Введите вашу почту, чтобы отправить код для восстановления пароля</p>
        <form>
            <div class="input-group">
                <label for="email">Почта</label>
                <input type="email" id="email" placeholder="Введите вашу почту" required>
            </div>
            <button type="button" class="send-code-button">Отправить код</button>
            <div class="input-group">
                <label for="code">Код</label>
                <input type="text" id="code" placeholder="Введите код" required>
            </div>
            <div class="input-group">
                <label for="new-password">Новый пароль</label>
                <input type="password" id="new-password" placeholder="Введите новый пароль" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Подтверждение пароля</label>
                <input type="password" id="confirm-password" placeholder="Повторите новый пароль" required>
            </div>
            <div class="button-group">
                <button type="button" @onclick="Calback" class="cancel-button">Отмена</button>
                <button type="submit" @onclick="Save"  class="save-button">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@code {
    public void Calback()
    {
        NavigationManager.NavigateTo("/");
    }

    public void Save()
    {
        // NavigationManager.NavigateTo("/");
    }
}

